*{margin:0; padding: 0; box-sizing: border-box;}

body{font-size: 20px;
    overflow-x: hidden; color: white; font-family: 'Flamenco', cursive;}

header{
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/hot-coffee-cup-set-wooden-table.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.clearfix:after{
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.row{
    max-width: 1180px;
    margin:0 auto;
}

.logo{
    height: 120px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float:right;
    margin-top:60px;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 40px;
}

.main-nav li a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: 2px;
    padding:5px 0; 
}

.main-nav li a:hover{
    border-bottom: 2px solid #bf55ec;
}

.main-content-header{
    width:1180px;
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
}

.main-content-header h1{
    color:#fff;
    font-size: 240%;
    word-spacing: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    padding:10px 30px;
    font-weight: lighter;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    text-transform: uppercase;
    border-radius: 200px;
}

.btn-full{
    background-color: transparent;
    color:#bf55ec;
    margin-right: 15px;
    border:1px solid #bf55ec;
}

.btn-full:hover{
    background-color: #fff;
    color: black;
    border: 1px solid #bf55ec;
    font-weight: bold;
}

.btn-nav{
    background-color: transparent;
    color: #fff;
    border:1px solid #fff;
}

.btn-nav:hover{
    background-color: #bf55ec;
    color:#fff;
    border:1px solid #fff;
}

.colorchange{
    animation: colorchangetanveer 1s infinite;
}

@keyframes colorchangetanveer{
    0%{color:red;}
    25%{color: #bf55ec;}
    50%{color:white;}
    100%{color:#bf55ec;}
}

.mobile-icon{display: none;}

/* Responsive queries */

@media only screen and (max-width:1180px){
    .main-content-header{
        width: 100%;
        padding:0 5px;
    }
}

@media only screen and (max-width:998px){
    .main-content-header h1{ font-size: 200%;}
}

@media only screen and (max-width:768px){
    .main-content-header h1{ font-size: 160%;}

    .main-nav{display: none;}

    .mobile-icon{
        display: block;
        color:white;
        float: right;
        margin-top: 30px;
        margin-right:20px;
    }
    
    .main-nav{
        float: left;
    }
    
    .main-nav li{
        display: block;
        margin-top: 10px;
    }
}

@media only screen and (max-width:480px){
    .btn-full{
        margin-bottom: 20px;
    }
    .main-content-header h1{font-size: 140%;}
}
